@model CourseProject.Models.Collection
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add Collection</title>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/dropzone/dropzone.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Add new collection</h4>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                Title:
                @Html.EditorFor(model => model.Title)
            </div>
            @Html.HiddenFor(model => model.UserId, new { id = "userId", Value = ViewBag.UserId })
            <div>
                Theme:
                @Html.DropDownListFor(model => model.Theme, (IEnumerable<SelectListItem>)new SelectList(ViewBag.Themes))
            </div>
            <div>
                Items count:
                @Html.EditorFor(model => model.ItemsCount)
                @Html.ValidationMessageFor(model => model.ItemsCount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <button type="submit"> Create </button>
        </div>
    }
</body>
</html>

