@using CourseProject.Models
@using CourseProject.Resources
@model List<Item>
<div class="items">
    @for (int i = 0; i < Model.Count; i++)
    {
        <p>@Language.Item @Model[i].Id </p>
        <table class="table">
            <tr>
                <td>
                    @Language.Type
                </td>
                <td>
                    @Language.Name
                </td>
                <td>
                    @Language.Value
                </td>
            </tr>

            @if (Model[i].IntValues.Count > 0)
            {
                for (int j = 0; j < Model[i].IntValues.Count; j++)
                {
                    <tr>
                        <td>
                            @Language.IntType
                        </td>
                        <td>
                            @Model[i].IntValues[j].Name
                        </td>
                        <td>
                            @Model[i].IntValues[j].Value
                        </td>
                    </tr>
                }
            }

            @if (Model[i].BoolValues.Count > 0)
            {
                for (int j = 0; j < Model[i].BoolValues.Count; j++)
                {

                    <tr>
                        <td>
                            @Language.BoolType
                        </td>
                        <td>
                            @Model[i].BoolValues[j].Name
                        </td>
                        <td>
                            @Model[i].BoolValues[j].Value
                        </td>
                    </tr>
                }
            }


            @if (Model[i].StringValues.Count > 0)
            {
                for (int j = 0; j < Model[i].StringValues.Count; j++)
                {
                    <tr>
                        <td>
                            @Language.StringType
                        </td>
                        <td>
                            @Model[i].StringValues[j].Name
                        </td>
                        <td>
                            @Html.Raw(Model[i].StringValues[j].Value)
                        </td>
                    </tr>
                }
            }


            @if (Model[i].DateValues.Count > 0)
            {
                for (int j = 0; j < Model[i].DateValues.Count; j++)
                {
                    <tr>
                        <td>
                            @Language.DateType
                        </td>
                        <td>
                            @Model[i].DateValues[j].Name
                        </td>
                        <td>
                            @Model[i].DateValues[j].Value.ToString("dd MMMM yyyy")
                        </td>
                    </tr>
                }
            }

            @Language.Tags: @Model[i].Tags
        </table>
        <p>
            @Language.Likes: @Model[i].Likes.Count
            @Language.Added___Last_changed_: @Model[i].LastChanged
            @Language.Collection_id: @Model[i].CollectionId @Html.ActionLink(Language.Look, "ShowCollection", new { id = Model[i].CollectionId })
        </p>
        <hr />
    }

</div>
