@using CourseProject.Models
@using CourseProject.Resources
@model List<Collection>

@foreach (var collection in Model)
{
    <div>
        <h4> @Language.Collection "@collection.Title"</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Language.Collection_picture:
            </dt>

            <dd>
                @if (String.IsNullOrEmpty(collection.Image))
                {
                    <img src="https://res.cloudinary.com/de7r0q8df/image/upload/v1641019399/MyImages/1_4eQuCfeAhUog26R07bA4lg_xwmhm3.png" width="150" height="100" />
                }
                else
                {
                    <img src="@collection.Image" width="100" height="100" />
                }

            </dd>

            <dt>
                @Language.Description:
            </dt>

            <dd>
                @Html.Raw(collection.Description)
            </dd>

            <dt>
                @Language.Theme:
            </dt>

            <dd>
                @Html.DisplayFor(model =>collection.Theme)
            </dd>

            <dt>
                @Language.Items_Count:
            </dt>

            <dd>
                @collection.ItemsCount
            </dd>
        </dl>
        @Html.ActionLink("Show", "ShowCollection", new { id = collection.Id }, new { @class = "btn btn-primary" })
    </div>
}
