@using CourseProject.Models
@using CourseProject.Resources
@model List<Item>

<div class="items">
    @if (Model.Count > 0)
    {
        <h4>
            @Language.Items:
        </h4>
    }


    @for (int i = 0; i < Model.Count; i++)
    {
        <p>@Language.Item @Model[i].Id </p>


        List<string> tags = Model[i].Tags.Split(' ').ToList();

        <span>@Language.Tags:</span> if (tags.Count > 0 && tags[0] != "")
        {
            foreach (var tag in tags)
            {
                @Html.ActionLink(tag + " ", "SearchTag", new { search = tag }, new { @class = "tag" })
            }
        }

        <table class="table table-hover">
            <tr>
                <td>
                    @Language.Type
                </td>
                <td>
                    @Language.Name
                </td>
                <td>
                    @Language.Value
                </td>
            </tr>

            @if (Model[i].IntValues.Count > 0)
            {
                for (int j = 0; j < Model[i].IntValues.Count; j++)
                {
                    <tr>
                        <td>
                            @Language.IntType
                        </td>
                        <td>
                            @Model[i].IntValues[j].Name
                        </td>
                        <td>
                            @Model[i].IntValues[j].Value
                        </td>
                    </tr>
                }
            }


            @if (Model[i].BoolValues.Count > 0)
            {
                for (int j = 0; j < Model[i].BoolValues.Count; j++)
                {
                    <tr>
                        <td>
                            @Language.BoolType
                        </td>
                        <td>
                            @Model[i].BoolValues[j].Name
                        </td>
                        <td>
                            @Model[i].BoolValues[j].Value
                        </td>
                    </tr>
                }
            }


            @if (Model[i].StringValues.Count > 0)
            {
                for (int j = 0; j < Model[i].StringValues.Count; j++)
                {
                    <tr>
                        <td>
                            @Language.StringType
                        </td>
                        <td>
                            @Model[i].StringValues[j].Name
                        </td>
                        <td>
                            @Html.Raw(Model[i].StringValues[j].Value)
                        </td>
                    </tr>
                }
            }


            @if (Model[i].DateValues.Count > 0)
            {
                for (int j = 0; j < Model[i].DateValues.Count; j++)
                {
                    <tr>
                        <td>
                            @Language.DateType
                        </td>
                        <td>
                            @Model[i].DateValues[j].Name
                        </td>
                        <td>
                            @Model[i].DateValues[j].Value.ToString("dd MMMM yyyy")
                        </td>
                    </tr>
                }
            }

        </table>
        <p>
            @Language.Added___Last_changed_: @Model[i].LastChanged
        </p>

        <table class="table-condensed">
            <tr>
                @if (ViewBag.CurrentUserId == ViewBag.CollectionId || ViewBag.IsAdmin)
                {
                    <td>
                        @Html.ActionLink(Language.Delete, "DeleteItem", new { id = Model[i].Id }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink(Language.Edit, "EditItem", new { id = Model[i].Id }, new { @class = "btn btn-primary" })
                    </td>
                }
                <td>
                    @Html.ActionLink(Language.Show, "ShowItem", new { id = Model[i].Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        </table>

        <hr />
    }
</div>


<style>
    .items {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
