@model string
@using CourseProject.Resources
<h2 style="text-align:center;">@Language.Results_for @Model</h2>

<div class="sortlist">
    <span style="text-align:center">@Language.Sort:</span>
    @Html.DropDownList(Language.Sort, (IEnumerable<SelectListItem>)new SelectList(new List<string> { "--", Language.By_date, Language.By_likes, Language.By_date_descending, Language.By_likes_descending}), new { @class = "sort" })
</div>


<div id="items">

</div>

@section Scripts {
    <script>
        $(".sort").change(function () {
            var sort = $(".sort").val()
            var url = "/Home/SortedFoundItems?search=" + "@Model" + "&sort=" + sort.replace(/ /g, '');;
            $("#items").load(url)
        });
    </script>
    <script>
        $(document).ready(function () {
            var url = "@(Html.Raw(Url.Action("FoundItems", "Home" ,new { search = Model })))";
             $("#items").load(url)
        });
    </script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
}

<style>
    .sortlist{
        text-align:center;
        justify-items: center;
        align-content:center;
    }
</style>