@model CourseProject.Models.AddItemModel
    <h2>Item from @ViewBag.Title</h2>
<div>
    <table class="table-bordered">
        <tr>
            <td>
                Type
            </td>
            <td>
                Name
            </td>
            <td>
                Value
            </td>
        </tr>
        <tr>
            <td>
                Int
            </td>
            @if (Model.IntValues.Count > 0)
            {
                for (int j = 0; j < Model.IntValues.Count; j++)
                {
                    <td>
                        @Model.IntValues[j].Name
                    </td>
                    <td>
                        @Model.IntValues[j].Value
                    </td>
                }
            }
        </tr>
        <tr>
            <td>
                Bool
            </td>
            @if (Model.BoolValues.Count > 0)
            {
                for (int j = 0; j < Model.BoolValues.Count; j++)
                {
                    <td>
                        @Model.BoolValues[j].Name
                    </td>
                    <td>
                        @Model.BoolValues[j].Value
                    </td>
                }
            }
        </tr>
        <tr>
            <td>
                String
            </td>
            @if (Model.StringValues.Count > 0)
            {
                for (int j = 0; j < Model.StringValues.Count; j++)
                {
                    <td>
                        @Model.StringValues[j].Name
                    </td>
                    <td>
                        @Model.StringValues[j].Value
                    </td>
                }
            }
        </tr>
        <tr>
            <td>
                Date
            </td>
            @if (Model.DateValues.Count > 0)
            {
                for (int j = 0; j < Model.DateValues.Count; j++)
                {
                    <td>
                        @Model.DateValues[j].Name
                    </td>
                    <td>
                        @Model.DateValues[j].Value.ToString("dd MMMM yyyy")
                    </td>
                }
            }
        </tr>
        Tags: @Model.Tags
    </table>
    <p>
        Added / Last changed: @Model.LastChanged
    </p>
</div>
<hr />
@Html.ActionLink("Back", "ShowCollection", new { id = Model.CollectionId})
<hr />
@if (ViewBag.IsNotGuest)
{
    <div>
        @using (Html.BeginForm("Comment", "Home", FormMethod.Post))
        {
            <div>
                <p>Comment this item:</p>
                <input type="text" name="comment" />
                @Html.HiddenFor(model => model.Id, new { name = "itemId" })
            </div>
            <div>
                <input type="submit" value="Send comment" />
            </div>
        }
    </div>
}
<hr />
<div>
    Comments:
    @foreach (var comment in Model.Comments)
    {
        <div>
            @comment.UserName:
        </div>
        <div>
            @comment.Text
        </div>
        <div>
            (@comment.Commented)
        </div>
        <hr />
    }
</div>

