@using CourseProject.Resources
@model CourseProject.Models.UserModel
<div style="margin-left:20%;">
    <h2>@Language.Profile @Model.UserName</h2>
    @if (ViewBag.IsAdmin)
    {
<div class="admin">
    <h4>@Language.Admin_info</h4>
    <p>Email: @Model.EMail</p>
    <p>@Language.Blocked: @Model.IsBlocked</p>
    <p>@Language.Admin: @Model.IsAdmin</p>
    @Html.ActionLink(Language.Block, "BlockSingle", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink(Language.Unblock, "UnblockSingle", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink(Language.Delete, "DeleteSingle", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink(Language.Change_role, "ChangeRoleSingle", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>
    }
    <hr />
    <h3>@Language.Collections:</h3>
    @if (ViewBag.CurrentUserId == Model.Id || ViewBag.IsAdmin)
    {
        @Html.ActionLink(Language.Add_collection, "AddCollectionFromProfile", new { userid = Model.Id }, new { @class = "btn btn-primary" })
    }
    <div id="collections">

    </div>
    <hr />
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            var url = "@(Html.Raw(Url.Action("GetCollections", "Home" ,new { userid = Model.Id })))";
            $("#collections").load(url)
        });
    </script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
}

<style>
    .admin {
        background: #b9b9b9
    }
</style>
