@model CourseProject.Models.Collection

<div>
    <h4>Collection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Collection picture:
        </dt>

        <dd>
            @if (String.IsNullOrEmpty(Model.Image))
            {
                <img src="https://res.cloudinary.com/de7r0q8df/image/upload/v1641019399/MyImages/1_4eQuCfeAhUog26R07bA4lg_xwmhm3.png" width="150" height="100" />
            }
            else
            {
                <img src="@Model.Image" width="100" height="100" />
            }

        </dd>

        <dt>
            Description:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Theme:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

        <dt>
            Items Count:
        </dt>

        <dd>
            @ViewBag.Items.Count
        </dd>
    </dl>
    @if (ViewBag.CurrentUserId == Model.UserId || ViewBag.IsAdmin)
    {
        <table class="table-condensed">
            <tr>
                <td>
                    @Html.ActionLink("Add Item", "AddItem", new { id = Model.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete collection", "DeleteCollection", new { id = Model.Id })
                </td>
                <td>
                    @Html.ActionLink("Edit collection", "EditCollection", new { id = Model.Id })
                </td>
            </tr>
        </table>
    }
</div>
@if (ViewBag.Items.Count > 0)
{
    <h4>
        Items:
    </h4>
}


@for (int i = 0; i < ViewBag.Items.Count; i++)
{
    <p>Item @(i+1)</p>
    <table class="table-bordered">
        <tr>
            <td>
                Type
            </td>
            <td>
                Name
            </td>
            <td>
                Value
            </td>
        </tr>
        <tr>
            <td>
                Int
            </td>
            @if (ViewBag.Items[i].IntValues.Count > 0)
            {
                for (int j = 0; j < ViewBag.Items[i].IntValues.Count; j++)
                {
                    <td>
                        @ViewBag.Items[i].IntValues[j].Name
                    </td>
                    <td>
                        @ViewBag.Items[i].IntValues[j].Value
                    </td>
                }
            }
        </tr>
        <tr>
            <td>
                Bool
            </td>
            @if (ViewBag.Items[i].BoolValues.Count > 0)
            {
                for (int j = 0; j < ViewBag.Items[i].BoolValues.Count; j++)
                {
                    <td>
                        @ViewBag.Items[i].BoolValues[j].Name
                    </td>
                    <td>
                        @ViewBag.Items[i].BoolValues[j].Value
                    </td>
                }
            }
        </tr>
        <tr>
            <td>
                String
            </td>
            @if (ViewBag.Items[i].StringValues.Count > 0)
            {
                for (int j = 0; j < ViewBag.Items[i].StringValues.Count; j++)
                {
                    <td>
                        @ViewBag.Items[i].StringValues[j].Name
                    </td>
                    <td>
                        @ViewBag.Items[i].StringValues[j].Value
                    </td>
                }
            }
        </tr>
        <tr>
            <td>
                Date
            </td>
            @if (ViewBag.Items[i].DateValues.Count > 0)
            {
                for (int j = 0; j < ViewBag.Items[i].DateValues.Count; j++)
                {
                    <td>
                        @ViewBag.Items[i].DateValues[j].Name
                    </td>
                    <td>
                        @ViewBag.Items[i].DateValues[j].Value.ToString("dd MMMM yyyy")
                    </td>
                }
            }
        </tr>
        Tags: @ViewBag.Items[i].Tags
    </table>
    <p>
        Added / Last changed: @ViewBag.Items[i].LastChanged
    </p>

    <table class="table-condensed">
        <tr>
            @if (ViewBag.CurrentUserId == Model.UserId || ViewBag.IsAdmin)
            {
                <td>
                    @Html.ActionLink("Delete", "DeleteItem", new { id = ViewBag.Items[i].Id })
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditItem", new { id = ViewBag.Items[i].Id })
                </td>
            }
            <td>
                @Html.ActionLink("Show", "ShowItem", new { id = ViewBag.Items[i].Id })
            </td>
        </tr>
    </table>

    <hr />
}


<p>
    @Html.ActionLink("Home", "MainPage")
</p>
