@model CourseProject.Models.Item
@using CourseProject.Resources

<div class="items">
    <h2>@Language.Item_from @ViewBag.Title</h2>
    <table class="table table-striped table-hover">
        <tr>
            <td>
                @Language.Type
            </td>
            <td>
                @Language.Name
            </td>
            <td>
                @Language.Value
            </td>
        </tr>

        @if (Model.IntValues.Count > 0)
        {
            for (int j = 0; j < Model.IntValues.Count; j++)
            {
                <tr>
                    <td>
                        @Language.IntType
                    </td>
                    <td>
                        @Model.IntValues[j].Name
                    </td>
                    <td>
                        @Model.IntValues[j].Value
                    </td>
                </tr>
            }
        }

        @if (Model.BoolValues.Count > 0)
        {
            for (int j = 0; j < Model.BoolValues.Count; j++)
            {

                <tr>
                    <td>
                        @Language.BoolType
                    </td>
                    <td>
                        @Model.BoolValues[j].Name
                    </td>
                    <td>
                        @Model.BoolValues[j].Value
                    </td>
                </tr>
            }
        }


        @if (Model.StringValues.Count > 0)
        {
            for (int j = 0; j < Model.StringValues.Count; j++)
            {
                <tr>
                    <td>
                        @Language.StringType
                    </td>
                    <td>
                        @Model.StringValues[j].Name
                    </td>
                    <td>
                        @Html.Raw(Model.StringValues[j].Value)
                    </td>
                </tr>
            }
        }


        @if (Model.DateValues.Count > 0)
        {
            for (int j = 0; j < Model.DateValues.Count; j++)
            {
                <tr>
                    <td>
                        @Language.DateType
                    </td>
                    <td>
                        @Model.DateValues[j].Name
                    </td>
                    <td>
                        @Model.DateValues[j].Value.ToString("dd MMMM yyyy")
                    </td>
                </tr>
            }
        }

        @Language.Tags: @Model.Tags
    </table>
    <p>
        @Language.Added___Last_changed_ @Model.LastChanged
    </p>
</div>
<div style="margin-left:20%;">
    <div>
        Likes: @Model.Likes.Count <br />
        @if (ViewBag.IsNotGuest)
        {
            using (Html.BeginForm("Like", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.Id, new { name = "itemId" })
                <input type="image" src="@ViewBag.Image" height="40" width="40" />
            }
        }
    </div>
    <hr />
    @Html.ActionLink(Language.Back, "ShowCollection", new { id = Model.CollectionId })
    <hr />
    @if (ViewBag.IsNotGuest)
    {
        <div>
            @using (Html.BeginForm("Comment", "Home", FormMethod.Post))
            {
                <div>
                    <p>@Language.Comment_this_item:</p>
                    <input type="text" name="comment" />
                    @Html.HiddenFor(model => model.Id, new { name = "itemId" })
                </div>
                <div>
                    <input type="submit" value="@Language.Send_comment" />
                </div>
            }
        </div>
    }
    <hr />

    <div id="result1">

    </div>

</div>



<script>
    setInterval(function () {
        var url = "@(Html.Raw(Url.Action("Comments","Home", new { id = Model.Id })))";
        $('#result1').load(url)
    }, 1000);
</script>