<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
</head>
<body class="layout">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("MainPage")">
                <img src="https://res.cloudinary.com/de7r0q8df/image/upload/v1642152351/MyImages/%D0%9D%D0%BE%D0%B2%D1%8B%D0%B9_%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82_fj8lzt.png" alt="" width="45" height="35" class="d-inline-block align-text-top">
                @CourseProject.Resources.Language.CourseProject
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("MainPage")">@CourseProject.Resources.Language.Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Login")">@CourseProject.Resources.Language.Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Registration")">@CourseProject.Resources.Language.Registration</a>
                    </li>
                </ul>
                <span id="theme">@CourseProject.Resources.Language.Theme:</span>
                <div>

                    <input type="checkbox" class="checkbox" id="chk" />
                    <label class="label" for="chk">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                        <div class="ball"></div>
                    </label>
                </div>

                <span id="lang">@CourseProject.Resources.Language._Language:</span>   @Html.DropDownList("Language", (IEnumerable<SelectListItem>)new SelectList(new List<string> { "---", "Russian", "English" }), new { @class = "language" })

                <form class="d-flex" action="@Url.Action("Search")" method="post">
                    <input class="form-control me-2" type="search" name="search" placeholder="@CourseProject.Resources.Language.Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">@CourseProject.Resources.Language.Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container body-content" id="cont">
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

@{
    HttpCookie cookie = HttpContext.Current.Request.Cookies["Theme"];
    if (cookie == null)
    {
        cookie = new HttpCookie("Theme");
        cookie.Value = "false";
    }
}

<script>
    $(".language").change(function () {
        var lang = $(".language").val()
        var url = "/Language/Change?LanguageAbbrevation=" + lang;
        window.location.replace(url);

    });
    const chk = document.getElementById('chk');

    chk.addEventListener('change', () => {
        $.get("/Home/Theme?_checked=" + chk.checked);
        document.body.classList.toggle('dark');
        if (chk.checked == true) {
            document.getElementById("cont").style.color = 'white';
            $('.table').css('color', 'white');
            $('#lang').css('color', 'black');
            $('#theme').css('color', 'black');
        }
        else {
            document.getElementById("cont").style.color = 'black';
            $('.table').css('color', 'black');
        }
    });

    window.onload = function () {
        var _checked = '@cookie.Value.ToLower()';
        chk.click();
    };
</script>

